<div class="wrap-print">
  <div class="print-header">
    <p class="id">ID: 1233</p>
    <p>Groupe: 3-6 ans</p>
  </div>
  <p class="name">BAKER, Josipe</p>
  <div class="image">
      <div class="avatar">
        <img class="img-responsive" src="http://sohanews.sohacdn.com/thumb_w/660/2017/photo1486969199024-1486969199175-0-32-308-529-crop-1486969281069.jpg">
      </div>
      <div class="qr-code">
        <img class="img-responsive" src="https://previews.123rf.com/images/vinntom/vinntom1202/vinntom120200028/12430323-qr-code.jpg">
      </div>
  </div>
  <div class="text-content">
    <div class="left-content">
      <div class="wrap-column">
        <div class="col-6">
          <p class="title">Mobile Papa</p>
          <p>23424242</p>
        </div>
        <div class="col-6">
          <p class="title">Mobile Papa</p>
          <p>23424242</p>
        </div>
      </div>
      <div class="wrap-column">
        <div class="col-6">
          <p class="title">Allergies</p>
          <p>werwer</p>
        </div>
        <div class="col-6">
          <p class="title">Date </p>
          <p>werwer</p>
        </div>
      </div>
    </div>
    <div class="right-content">
      <p class="title">Address: <span class="text-normal">Trung hoa - cau giay - ha noi</span> </p>
      <p class="title mt-10">Tuteur: <span class="text-normal">wwq qweqwe qwe qwe</span></p>
    </div>
  </div>
  <div class="bottom-content">
    <div class="row">
      <div class="col-sm-5">
        <p class="title">Alergies: <span class="text-normal">werw erw erw wr</span> </p>
      </div>
      <div class="col-sm-7">
        <p class="title">Groupe Sangun: <span class="text-normal">werw erw erw wr</span></p>
      </div>
    </div>
  </div>
</div>