.action-row-errors-logs {
    text-align: center;
    .fa-trash:before {
        font-size: 1.5em;
    }
}

.action-label-errors-logs {
    width: 68px;
}

.type-label-errors-logs {
    width: 68px;
}

.function-label-errors-logs {
    width: 100px;
}